# Local ElevenLabs widget agent IDs
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_NJO=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_WONG=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_NORODOVICH=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_CHUANG=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_AGUIL=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_JI=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_ANDERSON=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_BANAGA=
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_CHUN=
